body {
    background-color: peachpuff;
}

h1 {
    font-family: arial; font-size: 30;
}

p {
    font-family: arial; font-size: 20;
}

a{
    font-family: arial;
}

a:link{color: blue;}

a:visited{color: blue;}

a:hover{color: blue;}

a:active{color: blue;}
