body {
    background-color: peachpuff; text-align: center;
}

h1 {
    font-family: arial; font-size: 40;
}

h2 {
    font-family: arial;
}

h3 {
    font-family: arial;
}

p {
    font-family: arial; font-size: 20;
}

a {
    font-family: arial;
}

ul {
    font-family: arial;
}

ol {
    font-family: arial;
}
